*{margin:0;padding:0;}

/*body{padding-top:50px; background:#e6e6e6; font-family:Tahoma,Helvetica,Arial,sans-serif; font-size:14px; color:#666; text-decoration:none;}*/

a{font-family:Tahoma,Helvetica,Arial,sans-serif; font-size:14px; color:#666; text-decoration:none; outline:none;}

img,.searchtxt,.searchbtn,.pinglun input.submit{border:0;}

ol,ul,li{list-style:none;}

dl,dt,dd,ul,li{margin:0;padding:0;}

input,textarea{outline:none;}

html,body,form,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none; font-weight:normal;}

.solution{margin:0 auto; width:1200px; position:relative;}

.solution ul li{margin-left:20px;}

.clear{clear:both;}

.summary{background:#333;}

.listbox{float:left; margin-bottom:20px; padding:10px; _padding:10px 10px 8px 10px ;background:#f6f6f6; width:260px; height:240px; position:relative;}

.listimg{float:left; width:260px; height:165px; position:relative; overflow:hidden;}

.listimg img{background:#333; width:260px; height:165px; top:0; left:0; position:absolute;}

.summary{width:260px;height:165px;top:165px;left:0;position:absolute;}

.summarytxt{margin:5px 10px;width:250px;height:auto;line-height:22px;font-size:12px;color:#cfcfcf;}

.listinfo{_margin-bottom:3px; padding-left:10px; width:250px; line-height:22px; font-size:12px;}

.listinfo a{font-size:12px;}

.listtitle{float:left; margin-top:8px; _margin-top:-2px; width:250px; font-size:14px;}

.listtitle a{font-size:16px;}

.listtitle a:hover{color:#0000FF;font-size:18px;}

.listtag a{margin:0 8px 0 0;margin:2px 8px -2px 0\9;_margin:0 8px 0 0;color:#999;}

.listtag a:hover{color:#2ad2bb;}


.listdemo a{float:left;margin-top:0;margin-top:2px\9;_margin-top:0;color:#999;white-space:nowrap;}

.listdemo a:hover{color:#2ad2bb;}
